@media only screen and (max-width: 700px) {
    img {
        width: 100%;
    }

    p {
        color: red;
    }
}

@media only screen and (max-width: 500px) {
    p {
        color: black;
    }
}

@media only screen and (min-width: 400px) and (max-width: 900px){
    img {
        border: 2px red solid;
    }
}

img {
    width: 50%;
}